#done-tasks-list {
    width: 250px;
    min-height: 50px;
}

input#done-task {
    width: 80%;
    border: 1px solid #f1f1f1;
    line-height: 30px;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
}

button#add-done-task {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 8px;
    background-color: #b38d55;
    font-size: 21px;
    color: #fff;
    border: 1px solid #926f1f;
    line-height: 20px;
}

#timer-box {
    font-size: 20px;
    text-align: center;
    margin: 15px;
    word-spacing: 15px;
    text-transform: uppercase;
}
